.game {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
}

.game-title {
  font-size: 32px;
  font-weight: 400;
  font-family: "Roboto", serif;
}

.game-header-ctrl {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-sub-title {
  font-size: 24px;
  font-weight: 400;
  font-family: "Roboto", serif;
  color: rgb(117, 135, 164);
}

.game-board {
  display: flex;
  flex-direction: column;
  gap: 15px;
  opacity: 0;
  transform: scale(0.95) translateY(20px);
  transition: all 0.2s ease-in;
}

.show {
  opacity: 1;
  transform: scale(1);
}

.board-row {
  width: 100%;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.game-cell {
  flex-basis: 12%;

  width: 3vw;
  height: 3vh;
  min-width: 48px;
  min-height: 48px;

  border-radius: 5px;
  background-color: white;
  color: #506466;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.cell-value {
  font-size: 20px;
  font-weight: 400;
}

.cell-disabled {
  color: #cad0d1;
  cursor: not-allowed;
}

.sel-icon {
  width: 3vw;
  height: 3.5vh;
  min-width: 48px;
  min-height: 50px;
}

.delete-button {
  background-color: transparent;
  background-image: url("../assets/delete-icon.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: left;

  border: none;
  width: 100px;
  padding-left: 30px;
  color: #294977;
}

.delete-button:hover {
  color: red;
  background-image: url("../assets/delete-icon-focus.png");
}

.delete-button:focus {
  outline: none;
}

/***Selection Result***/
.result-container {
  display: flex;
  gap: 5px;
  user-select: none;
}

.display-ball {
  width: 50px;
  height: 50px;
  background-color: transparent;
  background-image: url("../assets/ball.png");
  background-size: 50px;

  font-family: "Roboto", serif;
  font-weight: bold;
  color: #544c4c;

  display: flex;
  justify-content: center;
  align-items: center;
}
