.rules {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  width: 100%;
  max-width: 750px;
  min-width: 250px;
  font-family: "Roboto", serif;
  letter-spacing: 1px;

  line-height: 25px;
}

.rules-play-button {
  align-self: center;
}
